In [3]:
import pandas as pd
import numpy as np
from numpy import random

# Viernes

In [4]:
A=[]
for i in range(15):
    A.append(random.randint(100))

B=["David","Alberto","Armando","Paula","Lorena"]
for i in range(10):
    B.append(B[random.randint(len(B))])
    
C=["Puentes","Garzon","Díaz","Poveda","García"]
for i in range(10):
    C.append(C[random.randint(len(C))])

P=[]
for i in B:
    P.append(i+" "+C[np.random.randint(len(B))])  # Asocia de manera aleatoria nombres y apellidos

N=dict(zip(P,A))
N=pd.Series(N)
N # En este caso se ha creado una serie donde el nombre corresponde a la etiqueta
print(N)
#N[["Armando","Paula"]]
N.iloc[3]

Alberto Garzon    13
Armando Díaz      45
Armando Garzon    36
David Garzon      22
Lorena Díaz       95
Lorena Garzon     89
Lorena Puentes    87
Paula Garzon      10
dtype: int64

22

In [7]:
#N.loc["Paula García"] == N.iloc[12] #Con loc se busca la etiqueta en el conjunto de datos, mientras que iloc busca el elemento empezando a contar desde 0
N=pd.DataFrame(N)

In [4]:
suma=np.sum(N)
suma

464

In [1]:
suma=0
for i in N[0]:
    suma+=i
suma

NameError: name 'N' is not defined

In [30]:
N["Edad"]=[np.random.randint(15,20) for i in range(len(N["Frecuencia"]))]
N

                Frecuencia  Edad
Alberto Garzon          13    15
Armando Díaz            45    19
Armando Garzon          36    18
David Garzon            22    19
Lorena Díaz             95    19
Lorena Garzon           89    18
Lorena Puentes          87    19
Paula Garzon            10    18