In [10]:
import pandas as pd

In [27]:
N=["one","two","letter"]
A=[1,1,1,1,1]
B=[2,2,2,2,2]
C=["a","a","b","b","c"]
d=dict(zip(N,B))
d["two"]=B
d["letter"]=C
d["one"]=A
df=pd.DataFrame(d)
df

  letter  one  two
0      a    1    2
1      a    1    2
2      b    1    2
3      b    1    2
4      c    1    2

In [26]:
one= df.groupby("letter").sum()
one

        one  two
letter
a         2    4
b         2    4
c         1    2

In [36]:
letterone= df.groupby(["letter","one"]).sum()
letterone.index

MultiIndex(levels=[['a', 'b', 'c'], [1]],
           labels=[[0, 1, 2], [0, 0, 0]],
           names=['letter', 'one'])